﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/vendors")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600,700italic">
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body class="home">
    <header class="row transparent black header1 affix" data-spy="affix" data-offset-top="0" id="header">
        <div class="container">
            <div class="row top-header">
                <div class="col-sm-4 search-form-col">
                    @using (Html.BeginForm("search", "blog", new { id = 1 }, FormMethod.Get, new { @class = "search-form" }))
                    {
                        <div class="input-group">
                            <span class="input-group-addon"><img src="../../Content/Images/search-icon-white.png" alt=""></span>
                            @*<input class="form-control" placeholder="search" type="search" value="searchText">*@
                            @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "search", type = "search" })
                        </div>
                    }
                </div>

                <a href="@Url.Action("index", "home")">
                    <div id="svglogo" class="col-sm-4 logo-col text-center" style="height: 90px; user-select: none;">
                        <svg viewBox="0 0 80 80" width="192" height="100%" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path id="LeftBrace" transform="translate(-26.458)" d="m66.146 0-39.688 39.687 39.688 39.688v-2.9475l-36.739-36.739 36.739-36.74z" fill="#f1f0f0" />
                                <text id="CLetter" x="19.854689" y="36.600784" font-size="22.578px" fill="#f1f0f0">Colin</text>
                                <text id="BLetter" x="42.763283" y="59.53125" font-size="22.578px" fill="#f1f0f0">Boyle</text>

                                <text id="Science" x="11" y="44" font-size="14px" fill="#f1f0f0">science</text>
                                <text id="Design" x="11" y="44" font-size="14px" fill="#f1f0f0">design</text>
                                <text id="Technology" x="11" y="44" font-size="14px" fill="#f1f0f0">technology</text>
                                <text id="Coding" x="11" y="44" font-size="14px" fill="#f1f0f0">coding</text>

                                <path id="RightBrace" transform="translate(-26.458)" d="m66.146 79.375 39.688-39.687-39.688-39.688v2.9475l36.739 36.739-36.739 36.74z" fill="#f1f0f0" />
                                <path id="LLetter" d="m24.854 54.347 30.888-31.279" stroke="#f1f0f0" stroke-width="2" />
                            </g>
                        </svg>
                    </div>
                </a>
                <div class="col-sm-4 menu-trigger-col">
                    <button class="menu-trigger pull-right">
                        <span class="active-page">home</span>
                        <img src="../../Content/Images/menu-align-white.png" alt="" class="icon-burger">
                        <img src="../../Content/Images/menu-close-white.png" alt="" class="icon-cross">
                    </button>
                </div>
            </div>
        </div>
        <div class="row menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 menu-col">
                        <div class="row">
                            <ul class="nav column-menu black-bg">
                                <li>@Html.ActionLink("Home", "index", "home")</li>
                                <li>@Html.ActionLink("About", "about", "home")</li>
                                <li>@Html.ActionLink("Contact", "contact", "home")</li>
                                <li>@Html.ActionLink("Gallery", "all", "gallery")</li>
                            </ul>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <ul class="nav column-menu black-bg">
                                        <li>
                                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav column-menu black-bg">
                                    <li><i class="fa fa-sign-in">@Html.ActionLink("Log in", "login", "account")</i></li>
                                    <li><i class="fa fa-user">@Html.ActionLink("Register", "register", "account")</i></li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 subscribe-col">
                        <h5 class="widget-title">subscribe to the newsletter.</h5>
                        <form action="#" method="post" class="form-inline subscribe-form">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" type="email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                        </form>
                        <ul class="nav social-nav dark">
                            <li><a href="https://twitter.com/Colin_Boyle"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/colin.boyle.927"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a href="https://www.instagram.com/colinboyle/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="mailto:colin.boyle93@gmail.com"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="sms://+14023120970"><i class="fa fa-mobile"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    @RenderBody()


    <!--Footer-->
    <footer class="row" id="footer">
        <div class="container">
            <div class="row top-footer">
                <div class="widget col-sm-3 widget-about">
                    <div class="row m0"><a href="index.html"><img src="../../Content/Images/logo2.png" alt=""></a></div>
                </div>
                <div class="widget col-sm-5 widget-menu">
                    <div class="row">
                        <ul class="nav column-menu white-bg">
                            <li class="active">@Html.ActionLink("Home", "index", "home")</li>
                            <li>@Html.ActionLink("About", "about", "home")</li>
                            <li>@Html.ActionLink("Contact", "contact", "home")</li>
                            <li>@Html.ActionLink("Gallery", "all", "gallery")</li>
                        </ul>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <ul class="nav column-menu white-bg">
                                    <li>
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav column-menu white-bg">
                                <li><i class="fa fa-sign-in">@Html.ActionLink("Log in", "login", "account")</i></li>
                                <li><i class="fa fa-user">@Html.ActionLink("Register", "register", "account")</i></li>
                            </ul>
                        }
                    </div>
                </div>
                <div class="widget row m0 widget-subscribe">
                    <h5 class="widget-title">subscribe to the newsletter.</h5>
                    <form action="#" method="post" class="form-inline subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                    </form>
                </div>
            </div>
            <h5 class="copyright"><a href="#">&copy; @DateTime.Now.Year - Colin / Boyle</a></h5>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", required: false)
</body>
</html>
