﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="text-danger" style="padding-top: 100px;">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h1>@ViewBag.errorMessage</h1>

