﻿<!--Facebook Widget-->
<aside class="row m0 widget widget-facebook">
    <div class="widget-inner widget-facebook-inner">
        <a href="#" class="facebook-link"><i class="fa fa-facebook-square"></i>find us on facebook</a>
    </div>
    <ul class="nav social-nav">
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    </ul>
</aside>
