﻿<!--Instagram Widget-->
<aside class="row m0 widget widget-instagram">
    <div class="widget-instagram-inner">
        <h5 class="widget-meta"><i class="fa fa-twitter"></i>instagram feed <a href="http://twitter.com/colinboyle">colinboyle</a></h5>
        <div id="instafeed"></div>
    </div>
</aside>
