﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1 class="text-error">Locked out.</h1>
    <h2 class="text-error">This account has been locked out, please try again later.</h2>
</hgroup>
