﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Hi, I'm Colin. Nice to meet you. I'm a young fellow from the midwest. One of my favorite saying is "it's a matter of perspective." From my perspective it
        seems you've come to learn more about me. So feel free to check out the blog to see some of the things I like to write about or the gallery to see what I like
        to do and work on.</p>
    <p>I became interested in computers in high school after seeing many people my age (from my high school perspective) doing amazing things with computers. A
        passion for computers was ignited and since then I've never let go. I enjoy finding new challenges to solve with computers. Lately I have been very
        intrigued with web development focusing on the latest technologies and trends but learning some industry standard tech too --like this .NET blog.</p>
    <p>It wouldn't be fair to say I enjoy troubleshooting and squashing bugs but I do love the relief of overcoming a troublesome stumper. IF you are passionate about
        computers or enjoy learning about the happenings of the tech industry stay tuned for more content at colinlboyle.com</p>
*@

<section class="row page-content-wrap" style="padding-top:100px;">
    <div class="container">
        <h2 class="page-title text-center">about me</h2>
        <div class="row">
            <div class="col-md-8 page-contents">
                <div class="row page-content">
                    <img src="../../content/images/author.jpg" alt="" class="img-responsive">

                    <div class="contents row">
                        <h4>I'm Colin, a coffee powered technology addict who is always working on one thing but mostly two. I belive many things are a matter of perspective and try to see the world from many points of view.</h4>

                        <p>I created this as a place to share the things I've done, am doing, and want to do. I am always working on my writing, design and development skills and thought this could be a wonderful place to share that journey. I have a lot of plans for this space (and other spaces) in the future so I encourage you to stay tuned. Things around here change quite often.</p>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <p> I started working with web design many years ago for a comedy blog space. Since then I have refined my skills to include a growing number of languages, frameworks, and plugins to create responsive web apps and programs. I prefer work which challenges me to try new things or gives me the chance to improve the way I've done something before.</p>
                            </div>
                            <div class="col-sm-6">
                                <p> When away from work I enjoy spending time with my son, designing and building puzzle boxes, and reading a good book. Christopher was born in March of 2017. I design puzzle boxes and cut them with a scroll saw, band saw, or laser. Fiction is my current genre I am reading but I find myself reading many books with cardboard pages littered with animal noises as of late.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 sidebar">
                <!--Twitter Widget-->
                @Html.Partial("TwitterWidgetPartial")
                <!--Instagram Widget-->
                @Html.Partial("InstaWidgetPartial")
                <!--Facebook Widget-->
                @*
                @Html.Partial("FacebookWidgetPartial")
                *@
            </div>
        </div>
    </div>
</section>
