﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        4320 Edison Cir Apt #2<br />
        Lincoln, NE 68504<br />
        <abbr title="Phone">P:</abbr>
        4023120970
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:colin.boyle93@gmail.com">colin.boyle93@gmail.com</a>
    </address>
*@

<section class="row page-content-wrap" style="padding-top:100px;">
    <div class="container">
        <h2 class="page-title text-center">contact</h2>
        <div class="row">
            <div class="col-md-8 page-contents">
                <div class="row page-content">
                    <div class="contents row">
                        <h4>Why hello, if you need to reach me you've come to the right place. 
                            Feel free to use this form for any comments or questions.
                            This form will be blasted to my email after you send it so expect a reply from there.</h4>

                        <p>If you want web design or development work this is the place for now. 
                           Include a phone number in the subject line if you'd prefer a call. </p>
                        <br>
                        <form action="#" method="post" class="contact-form row">
                            <div class="form-group col-sm-6">
                                <label for="name">full name*</label>
                                <input type="text" id="name" class="form-control" placeholder="Your name" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">email*</label>
                                <input type="email" id="email" class="form-control" placeholder="Your email address here" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="subject">subject</label>
                                <input type="text" id="subject" class="form-control" placeholder="Write subject here" required>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="message">message</label>
                                <textarea name="message" id="message" class="form-control" placeholder="Write message here"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn-primary"><span>Yikes! I'm still building this. But its fun to click.</span></button>
                                <h5 class="pull-right">*required fields</h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">
                <!--Author Widget-->
                @Html.Partial("AuthorWidgetPartial")
            </div>
        </div>
    </div>
</section>