﻿@model IEnumerable<colinboyle.Models.BlogPost>
@using WebMatrix.Data

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int page = Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]);

    //Is this a tag search for pagination?//
    string tagString = null;
    if (Url.RequestContext.RouteData.Values["tag"] != null) { tagString = Convert.ToString(Url.RequestContext.RouteData.Values["tag"]); }

    //Is this a query search for pagination?//
    string searchString = null;
    if (Request.Params["searchString"] != null) { searchString = Request.Params["searchString"]; }
    if (Url.RequestContext.RouteData.Values["searchString"] != null) { searchString = Convert.ToString(Url.RequestContext.RouteData.Values["searchString"]); }

    var db = Database.Open("Blog");
    var postTagQueryString = "SELECT BlogTag.Tag_Name " +
                 "FROM PostTag JOIN BlogTag " +
                 "ON TagId = BlogTag.btId " +
                 "WHERE PostId =";
    var popularTagQueryString = "SELECT Tag_Name " +
            "FROM BlogTag " +
            "ORDER BY Tag_Frequency DESC";
}
<section class="row content-wrap" style="padding-top: 130px;">
    <div class="container">

        <div class="row">

            <div class="col-md-8 blog-posts">
                <!--Image Post-->
                @if (Model.Count() != 0)
                {
                    foreach (var post in Model)
                    {
                        if (post.Title == null)
                        {
                            <article class="row post post-format-quote post-type4">
                                <div class="post-wrapper row">
                                    <div class="post-excerpt row">
                                        <h5 class="post-meta">
                                            <a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                            <span class="post-author"><i>by</i><span>@post.Summary</span></span>
                                        </h5>
                                        <h3 class="post-title">@post.Post</h3>
                                        <h5 class="quote-maker"><span>@post.Summary</span></h5>
                                        <footer class="row">
                                            <h5 class="taxonomy">
                                                <i>in</i>
                                                @foreach (var tag in db.Query(postTagQueryString + post.bpId))
                                                {
                                                    @Html.ActionLink((string)@tag.tag_name + " ", "tag", "blog", new { tag = tag.tag_name }, null)
                                                }
                                            </h5>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        }
                        else
                        {
                            <article class="row post post-format-image post-type4">
                                <div class="post-wrapper row">
                                    <div class="featured-content row">
                                        <a href="@Url.Action("article", "blog", new { id = post.bpId })"><img src="@Url.Content("~/Content/Images/posts/" + @post.Image)" alt="@post.Title" class="img-responsive"></a>
                                    </div>
                                    <div class="post-excerpt row">
                                        <h5 class="post-meta">
                                            <a href="@Url.Action("date", "blog", new { id = post.CreatedDate })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                            <span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>
                                        </h5>
                                        <h3 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h3>
                                        <p>@post.Summary</p>
                                        <footer class="row">
                                            <h5 class="taxonomy">
                                                <i>in</i>
                                                @foreach (var tag in db.Query(postTagQueryString + post.bpId))
                                                {
                                                    @Html.ActionLink((string)@tag.tag_name + " ", "tag", "blog", new { tag = tag.tag_name }, null)
                                                }
                                            </h5>
                                            <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">@post.Comments</div>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                }
                @if (Model.Count() < 5)
                {
                    <h3 class="text-center">No results to display</h3>
                    <h4 class="text-center">Return to the home page and view the most recent post?</h4>
                    <div class="text-center">
                        <a href=@Url.Action("index", "home") class="btn btn-primary"><span>Home</span></a>
                    </div>
                    <br />
                    <br />
                }
                @if (page > 1)
                {
                    if ( tagString != null)
                    {
                        <a href="@Url.Action("tag", "blog", new {id = page -1, tag = tagString })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }
                    else if( searchString != null)
                    {
                        <a href="@Url.Action("search", "blog", new {id = page -1, searchString = searchString })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("all", "blog", new { id = page - 1 })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }

                }
                @if (Model.Count() == 5)
                {
                    if ( tagString !=null)
                    {
                        <a href="@Url.Action("tag", "blog", new { id = page +1, tag = tagString })" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                    else if( searchString != null)
                    {
                        <a href="@Url.Action("search", "blog", new {id = page +1, searchString = searchString })" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("all", "blog", new { id = page +1 })" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                }
            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!--Author Well-->
                @Html.Partial("AuthorWidgetPartial")
                <!-- Blog Categories Well -->
                <div class="well" style="margin-top: 15px;">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @foreach (var tag in db.Query(popularTagQueryString + " OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY"))
                                 {
                                    <li>@Html.ActionLink((string)@tag.Tag_Name, "tag", "blog", new { tag = tag.Tag_Name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                 }
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @foreach (var tag in db.Query(popularTagQueryString + " OFFSET 3 ROWS FETCH NEXT 3 ROWS ONLY"))
                                {
                                    <li>@Html.ActionLink((string)@tag.Tag_Name, "tag", "blog", new { tag = tag.Tag_Name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                }
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Hold Tight!</h4>
                    <p>There is more coming soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>
