﻿@model colinboyle.Models.Post
@using WebMatrix.Data
@{
    ViewBag.Title = Model.BlogPost.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserId = System.Web.HttpContext.Current.User.Identity.Name;
    var db = Database.Open("Blog");
    @*OFFSET 3 ROWS*@
    var popularTagQueryString = "SELECT Tag_Name " +
                "FROM BlogTag " +
                "ORDER BY Tag_Frequency DESC";

}
@*

    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->
                <!-- Title -->
                <h1>@Html.DisplayFor(model => model.Title)</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Colin Boyle</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(model => model.CreatedDate)</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="../../Content/Images/@Html.DisplayFor(model => model.Image)" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">@Html.Raw(Model.Post)</p>

                <hr>

                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->
                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
    </div>
*@

<section class="row content-wrap" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 single-post-contents">
                <article class="single-post-content row m0 post">
                    <header class="row">
                        <h5 class="post-meta">
                            <a href="@Url.Action("date", "blog", new { id = Model.BlogPost.CreatedDate.ToString("MM/yy") })" class="date">@Model.BlogPost.CreatedDate.ToString("dd MMM yyyy")</a>
                            <span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>
                        </h5>
                        <h2 class="post-title">@Model.BlogPost.Title</h2>
                        <div class="row">
                            <h5 class="taxonomy pull-left">
                                <i>in</i>
                                @foreach (var tag in Model.BlogTags)
                                {
                                    @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                }
                            </h5>
                            <div class="response-count pull-right"><img src="../../content/images/comment-icon-gray.png" alt="">@Model.BlogPost.Comments</div>
                        </div>
                    </header>
                    <div class="featured-content row m0">
                        <a href="#"><img src="../../content/images/posts/@Model.BlogPost.Image" alt="@Model.BlogPost.Title"></a>
                    </div>
                    <div class="post-content row">
                        @Html.Raw(Model.BlogPost.Post)
                        @*
                            <h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                            <br>
                            <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                            <br>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <br>
                            <blockquote class="has-sign row m0">
                                <div>
                                    <p>If everybody learns this simple art of loving his work, whatever it is, enjoying it without asking for any recognition, we would have more beautiful and celebrating world.</p>
                                    <footer>OSHO</footer>
                                </div>
                            </blockquote>
                            <h3>Sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
                            <br>
                            <ul class="triangle-list nav">
                                <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                <li>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                            </ul>
                            <ul class="circle-list nav">
                                <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            </ul>
                            <br>
                            <blockquote class="no-sign">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </blockquote>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                                <div class="col-sm-6">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </div>
                            <br>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Gi3ZT4JttVI"></iframe>
                            </div>
                            <br>

                            <!-- Place somewhere in the <body> of your page -->
                            <div class="thumbCarousel row m0">
                                <div id="slider" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="../../content/images/posts/gallery/1.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/2.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/3.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/4.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/1.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/2.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/3.jpg" alt=""></li>
                                    </ul>
                                </div>
                                <div id="carousel" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="../../content/images/posts/gallery/s1.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s2.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s3.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s4.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s1.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s2.jpg" alt=""></li>
                                        <li><img src="../../content/images/posts/gallery/s3.jpg" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        *@
                    </div>
                    <div class="row m0 tags">
                        @foreach (var tag in Model.BlogTags)
                        {
                            @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, new { @class = "tag" })
                        }
                    </div>

                    <ul class="pager">
                        <li>
                            <h4>Previous Articles</h4>
                            @if(Model.PrevPost == null) { <h2 class="post-title">There are no more articles</h2>}
                            @if(Model.PrevPost != null){ <h2 class="post-title">@Html.ActionLink(Model.PrevPost.Title, "article", new { id = Model.PrevPost.bpId })</h2> }
                            <!--<h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>-->
                        </li>
                        <li>
                            <h4>Next Articles</h4>
                            @if(Model.NextPost == null) { <h2 class="post-title">There are no more articles</h2>}
                            @if(Model.NextPost != null) { <h2 class="post-title">@Html.ActionLink(Model.NextPost.Title, "article", new { id = Model.NextPost.bpId })</h2> }
                            <!--<h5 class="taxonomy pull-left"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>-->
                        </li>
                    </ul>

                    <div class="row m0 comments">
                        <h5 class="response-count">@Model.BlogPost.Comments comments<a href="#comment-form" class="btn btn-primary pull-right"><span>add comment</span></a></h5>
                        <!--Comments-->
                        @foreach (var comment in Model.BlogComments)
                        {
                            if (comment.ReplyId == null)
                            {
                                char firstchar = comment.UserId[0];
                                int firstint = firstchar;
                                while (firstint >= 10) { firstint /= 10; }
                                string location = "../../content/images/users/u" + firstint + ".png";
                                <div class="media comment">
                                    <div class="media-left">
                                        <a href="#"><img src="@location" alt="" class="img-circle"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4><a href="#">@comment.UserId</a></h4>
                                        <h5>
                                            <a href="#" class="date">@comment.DateCreated</a>
                                        </h5>
                                        <p>@comment.Comment</p>
                                    </div>
                                </div>
                            }
                        }
                        @*
                            <div class="media comment">
                                <div class="media-left">
                                    <a href="#"><img src="../../content/images/posts/c1.jpg" alt="" class="img-circle"></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Mark Sanders</a></h4>
                                    <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
                                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <!--Comments-->
                                    <div class="media comment reply">
                                        <div class="media-left">
                                            <a href="#"><img src="../../content/images/posts/c2.jpg" alt="" class="img-circle"></a>
                                        </div>
                                        <div class="media-body">
                                            <h4><a href="#">Mark Sanders</a></h4>
                                            <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
                                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            <!--Comments-->
                                            <div class="media comment reply">
                                                <div class="media-left">
                                                    <a href="#"><img src="../../content/images/posts/c1.jpg" alt="" class="img-circle"></a>
                                                </div>
                                                <div class="media-body">
                                                    <h4><a href="#">Mark Sanders</a></h4>
                                                    <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
                                                    <p>Remaining essentially unchanged.</p>
                                                    <!--Comments-->
                                                    <div class="media comment reply">
                                                        <div class="media-left">
                                                            <a href="#"><img src="../../content/images/posts/c2.jpg" alt="" class="img-circle"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4><a href="#">Mark Sanders</a></h4>
                                                            <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
                                                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Comments-->
                                <div class="media comment">
                                    <div class="media-left">
                                        <a href="#"><img src="../../content/images/posts/c1.jpg" alt="" class="img-circle"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4><a href="#">Mark Sanders</a></h4>
                                        <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
                                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    </div>
                                </div>

                                        </div>
                        *@
                    </div>


                    @using (Html.BeginForm("comment", "blog", FormMethod.Post, new { @class = "comment-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("BlogComment.BlogId", Model.BlogPost.bpId);
                        @Html.Hidden("BlogComment.UserId", UserId);
                        <h5 class="form-title">leave a reply</h5>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-sm-12">
                            <label for="message">message</label>
                            @Html.TextAreaFor(model => model.BlogComment.Comment, new { @class = "form-control", id = "message", name = "message*", placeholder = "Write message here" })
                            @Html.ValidationMessageFor(model => model.BlogComment.Comment, "", new { @class = "text-danger" })


                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn-primary"><span>send</span></button>
                            <h5 class="pull-right">*required fields</h5>
                        </div>
                    }
                </article>
            </div>
            <div class="col-md-4 sidebar">

                <!--Author Well-->
                @Html.Partial("AuthorWidgetPartial")

                <!-- Blog Categories Well -->
                <div class="well" style="margin-top: 15px;">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @foreach (var tag in db.Query(popularTagQueryString + " OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY"))
                                {
                                    <li>@Html.ActionLink((string)@tag.Tag_Name, "tag", "blog", new { tag = tag.tag_name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                }
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @foreach (var tag in db.Query(popularTagQueryString + " OFFSET 3 ROWS FETCH NEXT 3 ROWS ONLY"))
                                {
                                    <li>@Html.ActionLink((string)@tag.Tag_Name, "tag", "blog", new { tag = tag.Tag_Name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                }
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Hold Tight!</h4>
                    <p>There is more coming soon!</p>
                </div>

            </div>
        </div>
    </div>
</section>
