﻿@Model IEnumerable<colinboyle.Models.BlogPost>
    @{
        ViewBag.Title = "Search";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Search</h2>
    <h1>BIG</h1>
    <h4>Small</h4>

