﻿@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup style="padding-top: 100px;">
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
